body{
	height: 100vh;
	background-image: linear-gradient(to right, lightsteelblue 1%, dimgrey);
	
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth !important;
}

footer{
	text-align: center;
	color: white;
}


/*#myNav{
	background-color: red !important;
}*/


#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.navbar-dark{
	background-color: #212121 !important;
	color: white;
}


















